doctype html
html
  include includes/header.pug
  body
    h1 Test PUG
    img.d-none(src="../img/bg.jpg" alt="")  
    div.bg
    
    // An svg sprite
    svg(xmlns='http://www.w3.org/2000/svg', style="display:none")
      defs
        symbol#location(viewbox='0 0 24 24')
          path(fill='none', stroke-width='2', stroke-linecap='square', stroke-miterlimit='10', d='M20,9c0,4.9-8,13-8,13 S4,13.9,4,9c0-5.1,4.1-8,8-8S20,3.9,20,9z', stroke-linejoin='miter')
          circle(data-color='color-2', fill='none', stroke-width='2', stroke-linecap='square', stroke-miterlimit='10', cx='12', cy='9', r='3', stroke-linejoin='miter')


    // Mixins, used on or off of the page
    mixin svg(svg_url, svg_id)
      if svg_id
        svg()&attributes(attributes)
          use(xlink:href= svg_url + '#' + svg_id)
      else
        svg()&attributes(attributes)
          use(xlink:href= svg_url)

    a.action(href="#!")
      +svg("","location")(class="icon-md icon-stroke")
      
    include includes/footer.pug